<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="login-title">
    <p>Đăng nhập tài khoản</p>
  </div>
  <div class="img-login logoLogin">
    <img src="assets/login/images/Layer 5.png">
  </div>
  <div class="login-user" [ngClass]="{'alert-validate': validate('email')}"
    data-validate="Email là bắt buộc">
    <input type="text" id="userid" formControlName="email" placeholder="Email">
    <br>
  </div>
  <div class="login-pass validate-input" [ngClass]="{'alert-validate': validate('password')}"
    data-validate="Mật khẩu là bắt buộc">
    <div><i *ngIf="!validate('password')" (mousedown)="hidePassword = false; blurPassword()"
        (mouseup)="hidePassword = true" id="youaretheappleofmyeye" class="fa fa-eye"></i></div>
    <input type="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" id="password"
      placeholder="Mật khẩu">
  </div>

  <div class="login-pass">
    <span id="message"></span>
  </div>
  <div class="login-submit">
    <button>
      Đăng nhập
      <i class="fa fa-spinner fa-spin" *ngIf="loadingLogin"></i>
    </button>
  </div>
  <div class="user-many">
    <a style="float:left;display:block" href="javascript:void(0)" class="forgetPassword">Quên mật khẩu ?</a>
    <a style="float:right;display:block" [routerLink]="['/auth/sign-up']" class="otherAccount" href="#">Tạo tài
      khoản</a>
  </div>
</form>