<header>
    <div class="">
      <div class="logo-login ">
        <div class="logo-login-main">
          <div class="img-logo">
            <img src="assets/login/images/quochuy.png">
          </div>
          <div class="title-logo">
            <div class="title-red">
            </div>
            <div class="title-blue">
              <span>HỆ THỐNG QUẢN LÝ GIÁO DỤC</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container-fluid height-100">
      <div class="height-100">
        <div class="notification-login" >
          <!--Login-->
          <div class="height-100">
            <div class="bg-color-login-user height-100">
              <div class="login-user text-center" id="pageLoginRedirect">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container-fuild">
      <div class="copyright-login text-center">
        <p></p>
      </div>
    </div>
  </footer>